{% extends base_template_name %}

{% block head %}
<script>
function removeDemo(id){
	var form = document.getElementById("removeForm");
	document.getElementById("demoID").value=id;
	form.submit();
};
</script>


{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
        {% if demo %}
        <form action="{% url 'developer:remove' %}" method="post" id="removeForm">
            {% csrf_token %}
            <input type="hidden" name="demoID" id="demoID" readonly>
        </form>
        
        
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            名稱
                        </th>
                        <th>
                            資料夾名字
                        </th>
                        <th>
                            上傳者
                        </th>
                        <th>
                            時間
                        </th>
                        <th>
                            移除
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for i in demo %}
                    <tr>
                        <td>
                            {{i.name}}
                        </td>
                        <td>
                            {{i.dirName}}
                        </td>
                        <td>
                            {{i.user.detail.fullName}}
                        </td>
                        <td>
                            {{i.date}}
                        </td>
                        <td>
                        {% if i.user.username == user.username or user.detail.type > 2 %}
                            <button onclick="removeDemo({{i.id}});">移除</button>
                        {% else %}
                        你沒有權限
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h3>目前沒有上傳的Demo</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}