{% extends base_template_name %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <form role="form" method="post" action="{% url 'developer:upload'%}" enctype="multipart/form-data">
             {% csrf_token %}
                <div class="form-group">
                     
                    <label for="id_name">
                        {{form.name.label}}
                    </label>
                        {{form.name.errors}}
                    {{form.name}}
                </div>
                <div class="form-group">
                     
                    <label for="id_dirName">
                        {{form.dirName.label}}
                        <span class="text-danger">{{dir_exists}}</span>
                    </label>
                        {{form.dirName.errors}}
                    {{form.dirName}}
                </div>
                <div class="form-group">
                     
                    <label for="upload_file">
                        上傳檔案（.zip）
                    </label>
                        <span class="text-danger">{{not_found}}</span>
                    <input type="file" name="upload_file" id="upload_file" accept=".zip"/>
                    <p class="help-block">
                        xxx.zip (直接放 .R 檔)
                    </p>
                </div>
                <button type="submit" class="btn btn-default">
                    送出
                </button>
            </form>
        </div>
    </div>
{% endblock %}