{% extends base_template_name %}
{% load main %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'multiselect/css/style.css' %}">
{% endblock %}

{% block script %}

<!-- multiselect plugin source:https://crlcu.github.io/multiselect/ -->
<script src="{% static 'multiselect/js/multiselect.min.js' %}"></script>

<!-- custom javascript -->
<script type="text/javascript">
    var postUrl = "{% url 'control:permissionsEdit' id %}";
</script>
<script src="{% static 'js/control/permissions.js' %}"></script>

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-7">
    <h3>{{page_title}}</h3>
  </div>
  <div class="col-md-2 buttom-wrapper">
    <a href="{% url 'control:permissions' %}" class="no-radius btn btn-primary btn-lg btn-block">上一頁</a>
  </div>
  <div class="col-md-3 buttom-wrapper">
    <a href="{% url 'control:main' %}" class="no-radius btn btn-primary btn-lg btn-block">回管理員首頁</a>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <form class="form-horizontal" id="form1" method="post" action="#">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group {% if name_error %} has-error has-feedback {% endif %}">
                <label for="id_name">權限名稱</label>
                <input type="text" name="name" id="id_name" class="form-control" {% if name %} value="{{name}}" {% endif %}>
              </div>
            </div>
          </div>
          {% if name_error %}
          <div class="row">
            <div class="col-sm-12">
              <span class="text-danger" >* {{name_error}}</span>
            </div>
          </div>
          {% endif %}
          <hr>
        </div>
      </div>
      {% if level == 0 %}
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-5">
                <span>使用者</span>
                <select name="" id="multiselect" class="form-control" size="13" multiple="multiple">
                  {% for i in user_all %}
                  <option value="{{i.user.id}}">{{i.user.username}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-2">
                <button type="button" id="undo" class="btn btn-primary btn-block">上一動</button>
                <button type="button" id="rightAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                <button type="button" id="rightSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button type="button" id="leftSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button type="button" id="leftAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                <button type="button" id="redo" class="btn btn-warning btn-block">下一動</button>
              </div>
              <div class="col-sm-5">
                <span>己加入的使用者</span>
                <select name="users" id="added" class="form-control right-select" size="15" multiple="multiple">
                  {% for i in users %}
                  <option value="{{i.id}}">{{i.username}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          {% if users_error %}
          <div class="row">
            <div class="col-sm-12">
              <span class="text-danger" >* {{users_error}}</span>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <br>
      <br>
      {% endif %}
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-5">
                <span>指標</span>
                <select name="" id="multiselect2" class="form-control" size="13" multiple="multiple">
                  {% for i in menu_all %}
                  {% for j in i|getItem %}
                  <option value="{{j.id}}">{{i.name}}--{{j.name}}</option>
                  {% endfor %}
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-2">
                <button type="button" id="undo2" class="btn btn-primary btn-block">上一動</button>
                <button type="button" id="rightAll2" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                <button type="button" id="rightSelected2" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button type="button" id="leftSelected2" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button type="button" id="leftAll2" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                <button type="button" id="redo2" class="btn btn-warning btn-block">下一動</button>
              </div>
              <div class="col-sm-5">
                <span>可使用的指標</span>
                <select name="items" id="added2" class="form-control right-select" size="15" multiple="multiple">
                  {% for i in items %}
                  <option value="{{i.id}}">{{i.menu.name}}--{{i.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          {% if items_error %}
          <div class="row">
            <div class="col-sm-12">
              <span class="text-danger" >* {{items_error}}</span>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary btn-block btn-default">
          送出
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}