{% extends base_template_name %}
{% load main %}
{% block head %}

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3 buttom-wrapper">
             <a href="{% url 'control:permissionsAdd' %}" class="no-radius btn btn-primary btn-lg btn-block">新增權限群組</a>
        </div>
        <div class="col-md-3 buttom-wrapper">
             <a href="#" class="btn btn-primary btn-lg btn-block no-radius">權限群組查詢</a>
        </div>
        <div class="col-md-3 buttom-wrapper">
        </div>
        <div class="col-md-3 buttom-wrapper">
        </div>
    </div>
{% endblock %}