{% extends base_template_name %}
{% load staticfiles %}

{% block head %}
<!--  -->
{% endblock %}

{% block script %}
<!-- multiselect plugin source:https://crlcu.github.io/multiselect/ -->
<script src="{% static 'multiselect/js/multiselect.min.js' %}"></script>

<script src="{% static 'js/control/permissions.js' %}"></script>
<script>
$(document).ready(function() {
	
 $('#tr-search').on('keyup', function() {
     var arr = []
     checkbox = $('input[type=checkbox]:checked');
     for (i = 0; i < checkbox.length; i++) {
         arr.push(checkbox[i].value)
        }
     search(arr)
 });
 
 $('input[type=checkbox]').on('click', function(){
	 var arr = []
	 checkbox = $('input[type=checkbox]:checked');
	 for (i = 0; i < checkbox.length; i++) {
		 arr.push(checkbox[i].value)
		}
	 search(arr)
 });
 
 function search(arr){
	 var keyword = $('#tr-search').val();
	 if(keyword == '' && arr.length != 0){
		 $('tbody>tr').hide()
		 var text = [];
		 for (var i =0; i < arr.length; i++){
			 $('tbody>tr').find(":contains('" + arr[i] + "')").parent().show();
		 }
	 }
	 else if (keyword !== '' && arr.length==0) {
         $('tbody>tr').hide()
         $('tbody>tr').find(":contains('" + keyword + "')").parent().show();
     } 
	 else if (keyword !== '' &&  arr.length != 0){
         $('tbody>tr').hide()
         var text = [];
         for (var i =0; i < arr.length; i++){
        	 $('tbody>tr').find(":contains('" +keyword+ "')").parent().find(":contains('個人')").parent().show();
         }
	 }
     else {
         $('tbody>tr').show();
     }
	 
	 $('tbody>tr').removeClass();
	 $('tbody>tr:visible:even').addClass("info");
 }
 
 
 
});
</script>
{% endblock %}

{% block content %}
<form action="{% url 'control:permissionsRemove' %}" method="post" id="removeForm">
{% csrf_token %}
<input type="hidden" name="groupID" id="groupID" readonly>
<input type="hidden" name="groupName" id="groupName" readonly>
</form>


    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <h3>{{page_title}}</h3>
                </div>
                <div class="col-md-2 buttom-wrapper">
                    <!-- <a href="{% url 'control:permissionsAdd' %}" class="no-radius btn btn-primary btn-lg btn-block">查詢</a> -->
                </div>
                <div class="col-md-2 buttom-wrapper">
                    <!-- <a href="{% url 'control:permissionsAdd' %}" class="no-radius btn btn-primary btn-lg btn-block">新增權限(指標)</a> -->
                </div>
                <div class="col-md-2 buttom-wrapper">
                    <a href="{% url 'control:permissionsAdd' %}" class="no-radius btn btn-primary btn-lg btn-block">新增權限</a>
                </div>
                <div class="col-md-2 buttom-wrapper">
                    <a href="{% url 'control:main' %}" class="no-radius btn btn-primary btn-lg btn-block">管理員首頁</a>
                </div>
            </div>
		    <div class="row">
		        <div class="col-md-3">
                     <div class="form-group">
                        <input class="form-control" id="tr-search" type="text" placeholder="搜尋...">
                    </div>
		        </div>
                <div class="col-md-1">
                     <div class="form-group">
                        <label>只顯示</label>
                    </div>
                </div>
                <div class="col-md-1">
                     <div class="form-group">
                        <input type="checkbox" value="個人" >個人<br>
                    </div>
                </div>
                <div class="col-md-1">
                     <div class="form-group">
                        <input type="checkbox" value="第一級" >第一級<br>
                    </div>
                </div>
                <div class="col-md-1">
                     <div class="form-group">
                        <input type="checkbox" value="第二級" >第二級<br>
                    </div>
                </div>
		    </div>
            <br>
		    <table class="table">
		      <thead>
		        <tr>
		          <th>
		            群組名稱
		          </th>
                  <th>
                    分類
                  </th>
		          <th>
		            指標數量
		          </th>
		          <th>
		            使用者數量
		          </th>
                  <th>
                    詳細資料
                  </th>
		          <th>
		            編輯
		          </th>
                  <th>
                    移除
                  </th>
		        </tr>
		      </thead>
		      <tbody>
		      {% for i in group %}
		        <tr>
		          <td>
		            {{i.name}}
		          </td>
                  <td>
                    {% if i.level == 0 %}
                    個人
                    {% elif i.level == 1 %}
                    第一級
                    {% else %}
                    第二級
                    {% endif %}
                  </td>
		          <td>
                    {{i.itemQty}}
		          </td>
		          <td>
                  {% if i.level == 0 %}
                    {{i.userQty}}
                  {% else %}
                    不適用
                  {% endif %}
		          </td>
                  <td>
                    <button value="{% url 'control:permissionsDetail' i.id %}" class="btn glyphicon glyphicon-th-list redirect"></button>
                  </td>
		          <td>
                    <button value="{% url 'control:permissionsEdit' i.id %}" class="btn glyphicon glyphicon-pencil redirect"></button>
		          </td>
                  <td>
                    <button value="{{i.id}},{{i.name}}" class="btn glyphicon glyphicon-remove remove"></button>
                  </td>
		        </tr>
		        {% endfor %}
		       </tbody>
		    </table>
        </div>
    </div>
{% endblock %}