{% extends base_template_name %}
{% load staticfiles %}

{% block head %}
<!--  -->
{% endblock %}

{% block script %}
<!-- multiselect plugin source:https://crlcu.github.io/multiselect/ -->
<script src="{% static 'multiselect/js/multiselect.min.js' %}"></script>

<script src="{% static 'js/control/permissions.js' %}"></script>
<!-- <script>
</script> -->
{% endblock %}

{% block content %}
<form action="{% url 'control:permissionsRemove' %}" method="post" id="removeForm">
{% csrf_token %}
<input type="hidden" name="groupID" id="groupID" readonly>
<input type="hidden" name="groupName" id="groupName" readonly>
</form>


    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <h3>{{page_title}}</h3>
                </div>
                <div class="col-md-2 buttom-wrapper">
                    <a href="{% url 'control:permissionsAdd' %}" class="no-radius btn btn-primary btn-lg btn-block">查詢</a>
                </div>
                <div class="col-md-2 buttom-wrapper">
                    <a href="{% url 'control:permissionsAdd' %}" class="no-radius btn btn-primary btn-lg btn-block">新增權限(指標)</a>
                </div>
                <div class="col-md-2 buttom-wrapper">
                    <a href="{% url 'control:permissionsAdd' %}" class="no-radius btn btn-primary btn-lg btn-block">新增權限</a>
                </div>
                <div class="col-md-2 buttom-wrapper">
                    <a href="{% url 'control:main' %}" class="no-radius btn btn-primary btn-lg btn-block">管理員首頁</a>
                </div>
            </div>
		    <div class="row">
		        <div class="col-md-3">
                     <div class="form-group">
                        <input class="form-control" id="tr-search" type="text" placeholder="搜尋...">
                    </div>
		        </div>
		    </div>
            <br>
		    <table class="table">
		      <thead>
		        <tr>
		          <th>
		            群組名稱
		          </th>
		          <th>
		            指標數量
		          </th>
		          <th>
		            使用者數量
		          </th>
                  <th>
                    詳細資料
                  </th>
		          <th>
		            編輯
		          </th>
                  <th>
                    移除
                  </th>
		        </tr>
		      </thead>
		      <tbody>
		      {% for i in group %}
		        <tr>
		          <td>
		            {{i.name}}
		          </td>
		          <td>
		            {{i.itemQty}}
		          </td>
		          <td>
		            {{i.userQty}}
		          </td>
                  <td>
                    <button value="{% url 'control:permissionsDetail' i.id %}" class="btn glyphicon glyphicon-th-list redirect"></button>
                  </td>
		          <td>
                    <button value="{% url 'control:permissionsEdit' i.id %}" class="btn glyphicon glyphicon-pencil redirect"></button>
		          </td>
                  <td>
                    <button value="{{i.id}},{{i.name}}" class="btn glyphicon glyphicon-remove remove"></button>
                  </td>
		        </tr>
		        {% endfor %}
		       </tbody>
		    </table>
        </div>
    </div>
{% endblock %}