{% extends base_template_name %}

{% block head %}
<script type="text/javascript">
function removeItem(id,text){
    q = confirm("是否要刪除"+text+"選單");
    if (!q){
        return false;
    }
    else{
        var form = document.getElementById("removeForm");
        document.getElementById("itemID").value=id;
        document.getElementById("itemName").value=text;
        form.submit();
    }
};

function upMenu(id){
    var form = document.getElementById("MOVEForm");
    document.getElementById("UP").value=id;
    form.submit();
};
function downMenu(id){
var form = document.getElementById("MOVEForm");
document.getElementById("DOWN").value=id;
form.submit();
};

function resetOrder(id){
q = confirm("是否要重置排序？ 重置後就無法回復");
if (!q){
    return false;
}
else{
    var form = document.getElementById("resetOrderForm");
    document.getElementById("where").value=id;
    form.submit();
}
};
</script>
{% endblock %}

{% block content %}
<form action="{% url 'control:itemDel' %}" method="post" id="removeForm">
{% csrf_token %}
<input type="hidden" name="itemID" id="itemID" readonly>
<input type="hidden" name="itemName" id="itemName" readonly>
</form>

<form action="{% url 'control:itemMove' %}" method="post" id="MOVEForm">
{% csrf_token %}
<input type="hidden" name="UP" id="UP" readonly>
<input type="hidden" name="DOWN" id="DOWN" readonly>
</form>

<form action="{% url 'control:orderReset' %}" method="post" id="resetOrderForm">
{% csrf_token %}
<input type="hidden" name="resetName" id="resetName" value="item" readonly>
<input type="hidden" name="where" id="where" value="" readonly>
</form>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <span class="h3">{{menuName}} 選項管理</span>
                </div>
                <div class="col-md-2 buttom-wrapper">
                {% if menuID != -1%}
                    <a href="{% url 'control:itemAddBy' menuID %}" class="btn btn-success btn-lg btn-block no-radius">新增項目</a>
                {% endif %}
                </div>
                <div class="col-md-2 buttom-wrapper">
                    <a href="{% url 'control:menu'  %}" class="btn btn-success btn-lg btn-block no-radius">回選單</a>
                </div>
                <div class="col-md-3 buttom-wrapper">
                    <a href="{% url 'control:main' %}" class="btn btn-success btn-lg btn-block no-radius">回管理員首頁</a>
                </div>
            </div>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            指標名稱
                        </th>
                        <th>
                            app數量
                        </th>
                        <th>
                            權限
                        </th>
                        <th>
                            所屬選單
                        </th>
                        <th>
                            狀態
                        </th>
                        {% if menuID >= 0%}
                        <th>
                            往上移
                        </th>
                        <th>
                            往下移
                        </th>
                        {% endif %}
                        <th style="width:7%">
                            編輯
                        </th>
                        <th>
                            刪除
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for i in itemlist %}
                    <tr>
                        <td>
                            <a href="{% url 'control:apps' i.id %}">{{i.name}} (增加app)</a>
                        </td>
                        <td>
                            {{i.appQty}}
                        </td>
                        <td>
                            {{i.permission}}
                        </td>
                        <td>
                            {{i.menu.name}}
                        </td>
                        <td>
                            {% if i.isActive %}正常{% else %}禁用{% endif %}
                        </td>
                        {% if menuID >= 0%}
                        <td>
                            <button onclick="upMenu({{i.id}})" class="btn glyphicon glyphicon-chevron-up"></button>
                        </td>
                        <td>
                            <button onclick="downMenu({{i.id}})" class="btn glyphicon glyphicon-chevron-down"></button>
                        </td>
                        {% endif %}
                        <td>
                            <a href="{% url 'control:itemEdit' i.id %}" class="btn btn-xs btn-warning">編輯</a>
                        </td>    
                        <td>
                            <button onclick="removeItem({{i.id}},'{{i.name}}')" class="btn btn-danger btn-xs">移除</button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-2 buttom-wrapper">
                </div>
                <div class="col-md-3 buttom-wrapper">
                <button onclick="resetOrder({{menuID}})" class="btn btn-warning btn-default">重置排序</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}