{% extends base_template_name %}

{% block head %}
<script type="text/javascript">
function removeItem(id,text){
    q = confirm("是否要刪除"+text+"選單");
    if (!q){
        return false;
    }
    else{
        var form = document.getElementById("removeForm");
        document.getElementById("itemID").value=id;
        document.getElementById("itemName").value=text;
        form.submit();
    }
};

</script>
{% endblock %}

{% block content %}
<form action="{% url 'control:itemDel' %}" method="post" id="removeForm">
{% csrf_token %}
<input type="hidden" name="itemID" id="itemID" readonly>
<input type="hidden" name="itemName" id="itemName" readonly>
</form>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-2 buttom-wrapper">
                    <a href="{% url 'control:itemAddBy' itemlist.0.menu.id %}" class="btn btn-success btn-lg btn-block no-radius">新增項目</a>
                </div>
                <div class="col-md-3 buttom-wrapper">
                    <a href="{% url 'control:main' %}" class="btn btn-success btn-lg btn-block no-radius">回管理員首頁</a>
                </div>
            </div>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            指標名稱
                        </th>
                        <th>
                            使用權限
                        </th>
                        <th>
                            所屬選單
                        </th>
                        <th>
                            是否啟用
                        </th>
                        <th>
                            刪除
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for i in itemlist %}
                    <tr>
                        <td>
                            <a href="{% url 'control:apps' i.id %}">{{i.name}} (增加app)</a>
                        </td>
                        <td>
                            {{i.permission}}
                        </td>
                        <td>
                            {{i.menu.name}}
                        </td>
                        <td>
                            {{i.isActive}}
                        </td>
                        <td>
                            <button onclick="removeItem({{i.id}},'{{i.name}}')">移除</button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="col-md-1">
        </div>
    </div>
{% endblock %}