html,
body {
    height: 100%;
}
.buttom-wrapper {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-buttom: 5px;
}
.no-radius {
    border-radius: 0px;
}
#header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 42px;
    background-color: #3c7bbe;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#login {
    float: right;
    width: 55px;
    height: 100%;
    border-left: 1px #ccc solid;
    vertical-align: middle;
    text-align: center;
    background-color: #333;
}
#login a {
    color: #fff;
    text-decoration: none;
    line-height: 40px;
}
#logined {
    float: right;
    height: 100%;
    border-left: 1px #ccc solid;
    vertical-align: middle;
    text-align: center;
    background-color: #333;
    padding-left: 5px;
    padding-right: 5px;
}
#logined a {
    color: #fff;
    text-decoration: none;
    line-height: 40px;
}

#sys-name{
	height:61px;
	text-align:center;
	line-height:61px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#sys-name a{
	font-size:18pt;
	text-decoration:none;
	color: #fff;
}
#logo-img{
	height:50px;
	vertical-align : middle;
}


.login-op{
	display:none;
}

@media(max-width:600px) {
#login {

display: none;

}

.login-op{
    display:block;
}

#logined {

display: none;

}

} 






.header-nav-row {
    background: #fff;
    height: 40px;
}
.header-subnav-row {
    background: #3c7bbe;
    height: 50px;
}
.header-search-row {
    height: 60px;
}
.header-wrapper-row {
    margin-right: 100px;
    margin-left: 100px;
}
.header-search-row {
    height: 60px;
}
.header-wrapper-row {
    margin-right: 100px;
    margin-left: 100px;
}
#menu-toggle {
    float: left;
    width: 40px;
    height: 40px;
    ;
    border-right: 1px #ccc solid;
    text-align: center;
}
#menu-toggle a {
    font-size: 16pt;
    line-height: 40px;
    color: #000;
    text-decoration: none;
}
#main {
    margin-top: 42px;
}
