* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



ul {
	list-style-type: none;
}

a {
	color: #b63b4d;  //here;
	text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
 	color: #FFF;
 	font-size: 24px;
 	font-weight: 400;
 	text-align: center;
 	margin-top: 80px;
 }

h1 a {
 	color: #c12c42;  //here;
 	font-size: 16px;
 }

 .accordion {
 	width: 100%;
 	max-width: 360px;
 	margin: 10px auto 20px;
 	background: #3c7bbe;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	font-weight: 700;
	border-bottom: 1px solid #8AB5E2;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #1C1C1C;  //here;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #fff;
}

.accordion li.open i {
	color: #fff;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #5D95CF;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #8AB5E2;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #fff;
 	padding: 10px;
 	padding-left: 30px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #1E65AF;
 	color: #66cef6;
 }

 .special a{
    color: #fff;
 }

 .special a:hover{
    color: #66cef6;
 }
