{% load staticfiles %}
{% load main %}
<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{page_title}}|{{SITE_NAME}}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'org/css/simple-sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'org/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'org/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'org/css/style.css' %}" media="screen" type="text/css" />
    
    <style>
#footer {
    border-style: solid;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#footer-data{
    height: 30px;
}

</style>
{% block head %}{% endblock %}
</head>

<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <!-- menu in hrer -->
            <h3 class="text-center">學校校務系統</h3>
    <ul id="accordion" class="accordion">
    
    {% for i in menu %}
        {% if i.activeQty > 0 or user.profile.type >= 1 %}
        <li  {{menuID|isOpen:i.id}}>
            <!-- <div class="link"><i class="fa fa-paint-brush"></i>Diseño web<i class="fa fa-chevron-down"></i></div> -->
            <div class="link" style="border-top: 1px solid #8AB5E2;">{{i.name}}<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu"  {{menuID|isHide:i.id}}>
	        {% if i.activeQty == 0 %}
	        <li><a href="#">正在建置中</a></li>
	        {% else %}
                {% for j in i|getItem %}
                    {% if j.isActive %}
                        <li><a href="{% url 'main:shiny' j.id %}">{{j.name}}</a></li>
                    {% endif %}
                {% endfor %}
	        {% endif %}
            </ul>
        </li>
        {% endif %}
    {% endfor %}
 
    
    {% if user.profile.type >= 1 %}
        {% for i in menu %}
        {% if i.itemQty != 0 %}
        <li >
            <!-- <div class="link"><i class="fa fa-paint-brush"></i>Diseño web<i class="fa fa-chevron-down"></i></div> -->
            <div class="link" style="border-top: 1px solid #8AB5E2;">{{i.name}}--建製中<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu" >
                {% for j in i|getItem %}
                    {% if not j.isActive %}
                        <li><a href="#">{{j.name}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endfor %}
    {% endif %}
        
        <li class="special">
            <div class="link" style="border-bottom: 1px solid #8AB5E2;">
            {% if user.is_authenticated %}
            <a href="{% url 'account:logout' %}">登出</a>
            {% else %}
            <a href="{% url 'account:login' %}">登入</a>
            {% endif %}
            </div>

        </li>
        <li class="special">
            <div class="link" style="border-bottom: 1px solid #8AB5E2;">
                <a href="http://ip_address_removed">學校首頁</a>
            </div>
        </li>
        
    </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" style="height:100%">
            <div class="container-fluid" style="height:100%">
	            <header id="header-wrapper">
	                <div class="header-nav-row">
			            <div id="menu-toggle"><a href="#menu-toggle" class="fa fa-bars"></a></div>
			            {% if user.is_authenticated %}
			             <div id="logined"><a href="{% url 'account:logout' %}" >登出</a></div>
			             <div id="logined"><a href="#" >用戶：{{user.profile.fullName}}</a></div>
			             {% if user.profile.type >= 1 %}
                                <div id="logined"><a href="{% url 'developer:main' %}">開發者頁面</a></div>
                                <div id="logined"><a href="{% url 'control:main' %}" >管理者頁面</a></div>
			             {% endif %}
			             <!-- <div id="logined"><a href="{% url 'account:logout' %}" >登出</a></div> -->
			             
                            <div id="logined" class=""><a href="{% url 'account:center' %}" >帳戶中心</a></div>
			            {% else %}
			             <div id="login"><a href="{% url 'account:login' %}" >登入</a></div>
			            {% endif %}
	                </div>

	            
	            <div class="row" id="title-row">
	               <div class="col-md-5" id="logo-col">
		                <a href="{% url 'main:main' %}" class="h3" style="color:#fff;line-height:50px;text-decoration:none;" id="logo-link">
		                    <img alt="" style="height:50px" src="{% static 'img/cyut_logo.png' %}"> 
		                    <span>XX科技大學|</span><span style="font-size:14pt">校務研究系統</span>
		                </a>
	               </div>
                   <div class="col-md-7" id="search-col">
			            <form id="search">
			            <div>
			                <input type="text" style="height:100%;width:100%;font-size:14pt;">
			            </div>
			            <button type="submit" class="glyphicon glyphicon-search" ></button>
			            
			            </form>
                   </div>
	            </div>
	            </header>
	            <div id="main">
	                <div class="row">
	                    <div class="col-lg-12">
							{% if messages %}
							 {% for message in messages %}
							    {% if message.level == 40 %}
							        <p class="h3 text-danger">{{message}}</p>
							    {% elif message.level == 25 %}
							        <p class="h3 text-success">{{message}}</p>
							    {% endif %}
							 {% endfor %}
							{% endif %}
							
                            {% block content %}{% endblock %}

	                    </div>
	                </div>
	            </div>
				<div class="row" id="footer-warpper">
					<div class="col-lg-12 text-center">
						
						<div id="footer-data"  style="border-top: 1px solid gray;">
							<span class="small">XX科技大學-校務研究系統</span><br>
							<span class="small">建意使用Google Chrome, Mozilla Firofox瀏覽器，建意解析度大於1024*768。</span><br>
							<span class="small">版本：0.5.0，Design by 方瑋翔</span>
						</div>
					</div>
				</div>
            </div>
        </div>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Custom JavaScript -->
    <script src="{% static 'org/js/index.js' %}"></script>


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#header-wrapper").toggleClass("toggled");
        //$("#body-overlay").toggleClass("body-overlay");
        //$("#body-overlay2").toggleClass("body-overlay2");
    });
    
    $(window).load(function() {
        function changeHeight() {
            var $header = $('#header-wrapper').outerHeight(true);
            var $main = $('#main');
            var $footer = $('#footer-warpper').outerHeight(true);
            var $wrapper = $('#header-wrapper').parent().outerHeight(true);
            if($wrapper-($header+$footer+20)>615){
            	$main.css('min-height',$wrapper-($header+$footer+20)+'px');
            }else{
            	$main.css('min-height','615px');
            }
        }
        
        changeHeight();
        
        
        $(window).resize(function() {
        	changeHeight();
        	});
        
    });
    </script>
    
	{% block script %}
	{% endblock %}

</body>

</html>
