{% extends base_template_name %}
{% load staticfiles %}
{% load main %}
{% block head %}
<style>
.app-iframe{
    border-top: 1px solid #AAA;
    border-bottom: 0px;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 600px
}

</style>
{% endblock %}

{% block script %}
{% endblock %}


{% block content %}

    {% if shiny %}
    
	    {% if not token %}
        <div class="row">
            <div class="col-md-12 ">
              <span class="text-success h2">很抱歉你的權限不足，此頁面不可顯示。權限資訊可以在帳戶中心找到。</span>
            </div>
        </div>
	    {% else %}
	    <div class="row">
	        {% for i in shiny %}
	            <div class="col-md-3 buttom-wrapper">
                    <a href="{% url 'main:shiny2' i.item.id i.id %}" class="btn btn-primary btn-lg btn-block no-radius fork">{{i.name}}</a>
	            </div>
	        {% endfor %}
	    </div>
	        
	    <form>
	    <input type="hidden" id="license" value={{license}} readonly>
	    <br>
	    </form>
     
     <div id="app-position">
        <iframe src="/shiny/apps/{{shinyApp.dirName}}/"  class="app-iframe"></iframe>
     </div>
	   
        {% endif %}
    {% else %}
    <h3>沒有找到圖</h3>
    {% endif %}
    
{% endblock %}