{% extends base_template_name %}
{% load staticfiles %}

{% block head %}
<!--  -->
{% endblock %}

{% block script %}
<script src="{% static 'js/account/permissions.js' %}"></script>
<!-- 
<script>
</script>
 -->
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <h3>{{page_title}}</h3>
      </div>
      <div class="col-md-3 buttom-wrapper">
        <a href="{% url 'account:permissions' %}" class="no-radius btn btn-primary btn-lg btn-block">上一頁</a>
      </div>
      <div class="col-md-3 buttom-wrapper">
        <a href="{% url 'account:center' %}" class="no-radius btn btn-primary btn-lg btn-block">回管帳戶中心</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <table class="table">
          <thead>
            <tr>
              <th>
                指標名稱
              </th>
              <th>
                APP數量
              </th>
            </tr>
          </thead>
          <tbody>
            {% for i in items %}
            <tr>
              <td>
                {{i.item.name}}
              </td>
              <td>
                {{i.item.appQty}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}