{% extends base_template_name %}

{% block head %}
<script type="text/javascript">
function removeItem(id,text){
    q = confirm("是否要刪除"+text+"選單");
    if (!q){
        return false;
    }
    else{
        var form = document.getElementById("removeForm");
        document.getElementById("menuID").value=id;
        document.getElementById("menuName").value=text;
        form.submit();
    }
};

function upMenu(id){
        var form = document.getElementById("MOVEForm");
        document.getElementById("UP").value=id;
        form.submit();
};
function downMenu(id){
    var form = document.getElementById("MOVEForm");
    document.getElementById("DOWN").value=id;
    form.submit();
};

function resetOrder(){
    q = confirm("是否要重置排序？ 重置後就無法回復");
    if (!q){
        return false;
    }
    else{
        var form = document.getElementById("resetOrderForm");
        form.submit();
    }
};
</script>
{% endblock %}

{% block content %}
<form action="{% url 'control:menuDel' %}" method="post" id="removeForm">
{% csrf_token %}
<input type="hidden" name="menuID" id="menuID" readonly>
<input type="hidden" name="menuName" id="menuName" readonly>
</form>

<form action="{% url 'control:menuMove' %}" method="post" id="MOVEForm">
{% csrf_token %}
<input type="hidden" name="UP" id="UP" readonly>
<input type="hidden" name="DOWN" id="DOWN" readonly>
</form>

<form action="{% url 'control:orderReset' %}" method="post" id="resetOrderForm">
{% csrf_token %}
<input type="hidden" name="resetName" id="resetName" value="menu" readonly>
<input type="hidden" name="where" id="where" value="" readonly>
</form>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                {% if menuName %}<span class="h3">{{menuName}} 項目管理</span>{% endif %}
                </div>
                <div class="col-md-2 buttom-wrapper">
                    <a href="{% url 'control:menuAdd' %}" class="btn btn-success btn-lg btn-block no-radius">新增選單</a>
                </div>
                <div class="col-md-3 buttom-wrapper">
                    <a href="{% url 'control:main' %}" class="btn btn-success btn-lg btn-block no-radius">回管理員首頁</a>
                </div>
            </div>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            選單名稱
                        </th>
                        <th>
                            指標數量
                        </th>
                        <th>
                            權限
                        </th>
                        <th>
                            狀態
                        </th>
                        <th>
                            往上移
                        </th>
                        <th>
                            往下移
                        </th>
                        <th style="width:7%">
                            編輯
                        </th>
                        <th style="width:7%">
                            刪除
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for i in menulist %}
                    <tr>
                        <td>
                            <a href="{% url 'control:itemBy' i.id %}">{{i.name}} （管理）</a>
                        </td>
                        <th>
                            {{i.itemQty}}
                        </th>
                        <td>
                            {{i.permission}}
                        </td>
                        <td>
                            {% if i.isActive %}正常{% else %}禁用{% endif %}
                        </td>
                        <td>
                            <button onclick="upMenu({{i.id}})" class="btn glyphicon glyphicon-chevron-up"></button>
                        </td>
                        <td>
                            <button onclick="downMenu({{i.id}})" class="btn glyphicon glyphicon-chevron-down"></button>
                        </td>
                        <td>
                            <a href="{% url 'control:itemEdit' i.id %}" class="btn btn-xs btn-warning">編輯</a>
                        </td>
                        <td>
                            <button onclick="removeItem({{i.id}},'{{i.name}}')" class="btn btn-xs btn-danger">移除</button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-2 buttom-wrapper">
                </div>
                <div class="col-md-3 buttom-wrapper">
                <button onclick="resetOrder()" class="btn btn-warning btn-default">重置排序</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}