{% extends base_template_name %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/control/control.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'js/control/order.js' %}"></script>
{% endblock %}

{% block content %}
<form action="{% url 'control:menuDel' %}" method="post" id="removeForm">
{% csrf_token %}
<input type="hidden" name="menuID" id="ID" readonly>
<input type="hidden" name="menuName" id="Name" readonly>
</form>

<form action="{% url 'control:move' %}" method="post" id="MOVEForm">
{% csrf_token %}
<input type="hidden" name="TYPE" id="TYPE" value="menu" readonly>
<input type="hidden" name="UP" id="UP" readonly>
<input type="hidden" name="DOWN" id="DOWN" readonly>
</form>

<form action="{% url 'control:orderReset' %}" method="post" id="resetOrderForm">
{% csrf_token %}
<input type="hidden" name="resetName" id="resetName" value="menu" readonly>
<input type="hidden" name="where" id="where" value="" readonly>
</form>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                {% if menuName %}<span class="h3">{{menuName}} 項目管理</span>{% endif %}
                </div>
                <div class="col-md-2 buttom-wrapper">
                    <a href="{% url 'control:menuAdd' %}" class="btn btn-success btn-lg btn-block no-radius">新增選單</a>
                </div>
                <div class="col-md-3 buttom-wrapper">
                    <a href="{% url 'control:main' %}" class="btn btn-success btn-lg btn-block no-radius">回管理員首頁</a>
                </div>
            </div>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            選單名稱
                        </th>
                        <th>
                            指標數量
                        </th>
                        <th>
                            己使用指標
                        </th>
                        <th>
                            權限
                        </th>
                        <th>
                            狀態
                        </th>
                        <th>
                            往上移
                        </th>
                        <th>
                            往下移
                        </th>
                        <th style="width:7%">
                            編輯
                        </th>
                        <th style="width:7%">
                            刪除
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for i in menulist %}
                    <tr>
                        <td>
                            <a href="{% url 'control:itemBy' i.id %}">{{i.name}} （管理）</a>
                        </td>
                        <th>
                            {{i.itemQty}}
                        </th>
                        <th>
                            {{i.activeQty}}
                        </th>
                        <td>
                            {{i.permission}}
                        </td>
                        <td>
                            {% if i.isActive %}正常{% else %}禁用{% endif %}
                        </td>
                        <td>
                            <button value="{{i.id}}" class="btn glyphicon glyphicon-chevron-up move-up"></button>
                        </td>
                        <td>
                            <button value="{{i.id}}" class="btn glyphicon glyphicon-chevron-down move-down"></button>
                        </td>
                        <td>
                            <a href="{% url 'control:menuEdit' i.id %}" class="btn glyphicon glyphicon-pencil"></a>
                        </td>
                        <td>
                            <button value="{{i.id}},{{i.name}}" class="btn glyphicon glyphicon-remove remove"></button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-2 buttom-wrapper">
                </div>
                <div class="col-md-3 buttom-wrapper">
                <button type="button" id="resetOrder" class="btn btn-warning btn-default">重置排序</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}